server:
  port: 8081
  servlet:
    context-path: /catalog
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
spring:
  application:
    name: limmaCatalog
  datasource:
    url: jdbc:postgresql://localhost:5432/sapa
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
