server:
  port: 8086
  servlet:
    context-path: /review
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
spring:
  application:
    name: limmaReview
  datasource:
    url: jdbc:postgresql://localhost:25432/sapa
    username: hello
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
