server:
  port: 8085
  servlet:
    context-path: /order
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
spring:
  application:
    name: limmaOrder
  datasource:
    url: jdbc:postgresql://localhost:5430/sapa
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
