server:
  port: 7575
  servlet:
    context-path: /storage
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
spring:
  application:
    name: limmaMinio
  datasource:
    url: jdbc:postgresql://localhost:5431/sapa
    username: sapa
    password: sapa_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
minio:
  endpoint: ${MINIO_ENDPOINT:http://localhost:448/}
  minioRootUser: ${MINIO_ROOT_USER:minio}
  minioRootPassword: ${MINIO_ROOT_PASSWORD:minio123}
  bucket: ${MINIO_BUCKET:limma}
  checkBucket: ${MINIO_CHECK_BUCKET:true}
  createBucket: ${MINIO_CREATE_BUCKET:true}

file:
  allowedMimeTypes: application/pdf,image/jpeg,image/png,image/svg+xml,application/xml,text/xml
